In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

1. How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [32]:
race_counts = df['race'].value_counts()
print(race_counts)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

2. What is the average age of men?

In [5]:
round(df.loc[df['sex'] == "Male", 'age'].mean(),1)

39.4

3. What is the percentage of people who have a Bachelor's degree?

In [6]:
round((df.loc[df['education'] =="Bachelors", 'education'].count() / df.shape[0]) * 100,1)

16.4

4. What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [51]:
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
print(advanced_education[advanced_education['salary'] == '>50K']['salary'].count() / len(advanced_education) * 100)

46.535843011613935

5. What percentage of people without advanced education make more than 50K?

In [52]:
no_advanced_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
print(no_advanced_education[no_advanced_education['salary'] == '>50K']['salary'].count() / len(no_advanced_education) * 100)

17.3713601914639

6. What is the minimum number of hours a person works per week?

In [53]:
print(df['hours-per-week'].min())

1

7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [54]:
min_hours = df[df['hours-per-week'] == df['hours-per-week'].min()]
print(min_hours[min_hours['salary'] == '>50K']['salary'].count() / len(min_hours) * 100)

10.0

7. What country has the highest percentage of people that earn >50K and what is that percentage?

In [55]:
country_income = df.groupby('native-country')['salary'].value_counts(normalize=True).unstack()
print(country_income['>50K'].idxmax(), country_income['>50K'].max() * 100)

Iran 41.86046511627907

8. Identify the most popular occupation for those who earn >50K in India?

In [56]:
india_high_income = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
print(india_high_income['occupation'].value_counts().idxmax())

Prof-specialty